# Virtual environments and local environments
venv*
.venv/*
.env*
.secrets/*

# Python cache
*.pyc
__pycache__/*

# macOS
.DS_Store

# Temporary files
tmp/
.scratch
*.exe
.pyflyby/
.vscode/
*~

# Gensis 'working' dirs/files
genesis.db
bot_git/
runtime/
genesis_sample/
process_cache/

# Build and distribution directories
build/
dist/

# Put your ignorable personal files under .personal/ or add explicit ignores here:
.personal/
*credentials.json
g-workspace-*.json
sample_catalog_stage/
apps/vscode-curosr-ext/node_modules/
genesis_api_public.egg-info/
genesis_api_whl.egg-info/
genesis_bots.egg-info/
customer_demos/*
hcls/*
hcls_gold/*
