*.pyc
kb/*
demo/kb*/*
.jay
.justin
.secrets/*
.DS_Store
bot_os_env.sh
tmp_uploaded_files/*
tmp copy/*
kb_annoy/*
kb_annoy_old/*
kb_vector/user_preferences/*
kb_*/*
tmp/*
kb_test/*
downloaded_files/*
uploads/*
saved_llm_settings_local.json
.DS_Store
*.pickle
/snowflake_app/mr_genesis_natapp_provider.sql
/streamlit_gui/mr_streamlit_sis_v1.py
.scratch
