*.pyc
kb/*
demo/kb*/*
.jay
.justin
.secrets/*
.DS_Store
bot_os_env.sh
tmp_uploaded_files/*
tmp copy/*
kb_annoy/*
kb_annoy_old/*
kb_vector/user_preferences/*
kb_*/*
tmp/*
process_cache/*
kb_test/*
downloaded_files/*
uploads/*
saved_llm_settings_local.json
*.DS_Store
*.pickle
snowflake_app/mr_genesis_natapp_provider.sql
streamlit_gui/mr_streamlit_sis_v1.py
streamlit_gui/Genesis.py
streamlit_new/*
.scratch
*.ann
*.exe
rsa_key.p8
rsa_key.pub
.venv/*
.env*
requirements_orig.txt
.vscode/
.pyflyby/

genesis_env/*
.matt.sh
genesis.db
launch.json
*.exe

sdf_workspaces/*
sdf_genesis/sdf_dagster_out/*

# Put all the ad-hoc personal stuff (scripts, files, notes) here
.personal/
bot_git/
./bot_git/

genesis-workspace-project-d094fd7d2562.json
g-workspace*.*
