anthropic==0.31.2
annoy
APscheduler
bs4
db-dtypes
dill
werkzeug>=3.0.6
flask==3.0.3
google-cloud-bigquery
#google-generativeai
mistralai
openai
pandas==2.2.2
pyarrow==17.0.0
pytest
pyyaml==6.0.1
# selenium
simplejson==3.19.2
slack_bolt
spacy
streamlit==1.35.0
streamlit_autorefresh  # ^^ this may also need a version for compat reasons
urllib3==1.26.19
#ngrok
snowflake_connector_python==3.11.0
reka-api
#debugpy
google-generativeai
pdb_attach
sseclient
botbuilder-integration-aiohttp>=4.15.0
selenium==4.24.0
dagster-sdf
flask_cors

