annoy
anthropic
APscheduler
bs4
db-dtypes
dill
werkzeug>=3.0.3
flask
google-cloud-bigquery
#google-generativeai
mistralai
openai
pandas
pyarrow
pytest
pyyaml
#selenium
simplejson
slack_bolt
spacy
streamlit
streamlit_autorefresh
urllib3<2.0
#ngrok
snowflake_connector_python
reka-api

