annoy
APscheduler
bs4
db-dtypes
dill
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
werkzeug>=3.0.6
flask==3.0.3
google-cloud-bigquery
#google-generativeai
mistralai
openai
pandas==2.2.2
pyarrow==17.0.0
pytest
pyyaml==6.0.1
# selenium
simplejson==3.19.2
slack_bolt
spacy
streamlit==1.35.0
streamlit_autorefresh  # ^^ this may also need a version for compat reasons
urllib3==1.26.19
#ngrok
snowflake_connector_python==3.12.3
reka-api
#debugpy
google-generativeai
pdb_attach
sseclient
botbuilder-integration-aiohttp>=4.15.0
selenium==4.24.0
dagster-sdf
jira==3.8.0
gitpython==3.1.43
#flask_cors
anthropic==0.40.0
boto3==1.35.72
markdown
