
.container {
    display: flex;
}
.left-column {
    width: 25%;
    padding: 10px;
    background-color: white
}
.right-column {
    width: 75%;
    padding: 10px;
    margin-top: 50px;
}

#logo{
    margin: 80px 0px 40px 10px;
    width: 250px;
    height: 60px;
}

#logo img {
    width: 105%;
    height: 105%;
    object-fit: contain;
}

#new-chat-button{
    background-color: #E67300;
    border-color: #FFA500;
    color: white;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
    font-weight: 400;
    font: Source Sans Pro, sans-serif;
    line-height: 1.6;
    width: 260px;
    height: 26px;
    margin-left: 10px
}

#dropdown {
    width: 260px;
    margin-left: 10px;
    height: 30px;
    padding: 6px;
}

.back_to_chat{
    font-size: 2rem;
    font-weight: 400;
    font: Source Sans Pro, sans-serif;
    line-height: 1.6;
}

#selector{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 10px 10px;
}

#select-bot{
    width: 50%;
}

#select-team{
    width: 50%;
}